@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MicroGreens Manager</h1>
    <p>You COMPLETE Inventory, Sowing and Scheduling Web Application for MANAGING your Microgreens Business!</a></p>
</div>