<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MicroManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MicroManager.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MicroManager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Crop" asp-action="CropIndex">Crop</a></li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OrderDetail" asp-action="Index">Order Details</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="InventoryCategory" asp-action="Index">Inventory Category</a>
                        </li>

                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Products
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li >
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                                        </li>
                                        <li >
                                            <a class="nav-link text-dark" asp-area="" asp-controller="ProductSize" asp-action="Index">Product Size</a>
                                        </li>
                                    </ul>
                        </div>


                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Customers
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">Customer</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="CustomerType" asp-action="Index">Customer Type</a></li>
                                    </ul>
                        </div>

                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Inventory
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Supplier" asp-action="Index">Supplier</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Package" asp-action="PackageIndex">Package</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Shelving" asp-action="Index">Shelving</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="GrowMedia" asp-action="Index">Grow Media</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Light" asp-action="Index">Grow Lights</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Tray" asp-action="Index">Trays</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Seed" asp-action="Index">Seeds</a></li>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Crop" asp-action="CropIndex">Crop</a></li>
                                    </ul>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Employees
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">Employees</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Employee Roles</a>
                                        </li>

                                    </ul>

                            </ul>
                        </div>
                </div>
                <partial name="_LoginPartial" /> @* ********DON'T TOUCH THIS**************' *@
                <div class="p-2 border rounded">
                    <div class="form-check form-switch" id="btnSwitch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Mode</label>
                    </div>
                </div>
            </div>
            </>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MicroManager - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript">
        document.getElementById('btnSwitch').addEventListener('click', () => {
            if (document.documentElement.getAttribute('data-bs-theme') == 'dark') {
                document.documentElement.getAttribute('data-bs-theme', 'light')
            }
            else {
                document.documentElement.getAttribute('data-bs-theme', 'dark')
            }
        })</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
